### General ###
*.lock

### Jekyll ###
_site/

### Sass ###
.sass-cache

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*
