<!-- About training Section -->
<section id="about-training" class="about-training">
    <div class="content-wrapper">
          <div class="row">
              <div class="col-lg-10 col-lg-offset-1 text-left">
                  {% assign animationDelay = 0 %}
                  {% assign trainingDetailsCards = site.trainingDetailsCards | where: "lang", page.lang %}
                  {% for card in trainingDetailsCards %}
                  {% assign colWidth = 29 | divided_by: forloop.length %}
                  <div class="col-md-{{ colWidth }} col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                      <div class="card">
                          <h4>{{ card.title }}</h4>
                          <p><h6>{{ card.information }}</h6></p>
                      </div>
                  </div>
                  {% assign animationDelay = animationDelay | plus:500 %}
                  {% endfor %}

                  {% assign trainingDetailsWideCards = site.trainingDetailsWideCards | where: "lang", page.lang %}
                  {% for wideCard in trainingDetailsWideCards %}
                  <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                      <div class="card questions">
                          <h5>{{ wideCard.title }}</h5>
                          {% for subCard in wideCard.subCards %}
                          {% assign wideCardColWidth = 12 | divided_by: forloop.length %}
                          <div class="col-md-{{ wideCardColWidth }} col-xs-12">
                              <p>{{ subCard.title }}</p>
                              <ul>
                                  {% for linkElement in subCard.links %}
                                  <li><h6><a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl | prepend: "/" | prepend: site.lang }} {% else %} {{ linkElement.link }} {% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %}>{{ linkElement.text }}</a></h6></li>
                                  {% endfor %}
                              </ul>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
                  {% endfor %}
            <div class="row about-details"><p><h6>{{ site.aboutTrainingDescription[page.lang] }}</h6></p></div>
            {% for row in site.trainingRows %}
            {% assign check = forloop.index0 | modulo:2 %}
            <div class="training-row {% if check == 0 %}float-left{% else %}float-right{% endif %} col-md-12">
                <div class="training-img-wrapper animated hiding" data-animation="{% if check == 0 %}fadeInLeft{% else %}fadeInRight{% endif %}" data-delay="0">
                    <img class="img-responsive" src="{{ site.baseurl }}/img/training/{{ row.image }}" alt="Training">
                </div>
                <div class="training-details animated hiding" data-animation="{% if check == 0 %}fadeInRight{% else %}fadeInLeft{% endif %}" data-delay="0">
                    <h4>{{ row.title }}</h4>
                    <p>{{ row.details }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</section>
<!-- End About training Section -->
